<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sw.onepixel" >

    <application>

        <activity android:name=".OnePixelActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"
            android:theme="@style/OnePixelStyle"/>

    </application>

</manifest>
